/** CSS STYLE **/
html {
  color: #303846;
  font-size: 16px;
  font-family: SansSerif, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: black;
}

.main-header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 20px;

  background-color: #fff;
}

.header-logo {
  display: flex;
  flex: 0 0 200px;
  align-items: center;
  justify-content: flex-start;

  width: 20%;
  height: 100%;
}

.header-menu {
  flex: 0 0 550px;

  width: 80%;
  height: 100%;
}

.header-logo-img {
  height: 40px;
}

.header-logo-title {
  display: inline-block;

  font-weight: 700;
}

.header-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  list-style: none;
}

.header-menu-list li {
  font-weight: 700;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.h-60 {
  height: 60px;
}

.w-1000 {
  width: 1000px;
}

.w-100p {
  width: 100%;
}

.w-30p {
  width: 30%;
}

.w-45p {
  width: 45%;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.p-0 {
  padding: 0;
}


.main-banner-container {
  display: flex;
  justify-content: center;

  background-image: url(../img/banner.png);
  background-position: center;
  background-size: cover;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  font-weight: 700;
}

.main-banner-content-logo {
  width: 10vw;
  min-width: 150px;
}

.main-banner-content-title {
  margin-bottom: 5px;
}

.main-banner-content-link {
  color: white;

  border: 1px solid white;
}

.advantages-block-container {
  display: flex;
  justify-content: center;

  background-color: #fff;
}

.advantages-block-content {
  display: flex;
  justify-content: center;
}

section + section {
  margin-left: 50px;
}

.about-block-container {
  display: flex;
  justify-content: center;

  background-color: #f7f7f7;
}

.about-block-content {
  display: flex;
  justify-content: space-around;
}

.places-block-container {
  display: flex;
  justify-content: center;

  background-color: #fff;
}

.places-block-content {
  display: flex;
  justify-content: space-around;
}

.places-block-img-container {
  order: -1;
}

.form-block-container {
  display: flex;
  justify-content: center;

  background-color: #f7f7f7;
}

.form-block-content {
  display: flex;
  justify-content: center;
}

.form-block-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 30px;

  border: #8ce6d2 solid 3px;
  border-radius: 4px;
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
}

legend {
  color: #8ce6d2;

  font-weight: 700;
}

span {
  display: inline-block;

  font-weight: 700;
}

.form-block-field-parameters {
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 50%;
  height: 25px;

  text-indent: 10px;

  border: silver 1px solid;

  border-radius: 10px;

  box-shadow: none;
}

select.input-field {
  height: 30px;
}

.button-container {
  display: flex;
}

.clickable {
  padding: 10px;

  font-weight: 700;
  text-decoration: none;

  border-radius: 10px;
}

button {
  color: #8ce6d2;

  border: 1px solid #8ce6d2;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #f7f7f7;

  background-color: #303846;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.footer-logo-frame {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 160px;
}

footer h2 {
  font-size: 1em;
}

footer li {
  font-weight: 700;
}

.footer-logo-img {
  display: inline-block;
  height: 40px;
}
