/** CSS STYLE **/

:root {
  --header-height: 60px;

  --primary-color: #fff;
  --secondary-color: #f7f7f7;
  --green-color: #8ce6d2;
  --dark-color: #303846;

}

html {
  color: var(--dark-color);
  font-size: 16px;
  font-family: SansSerif, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-0 {
  padding: 0;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.h-25 {
  height: 25px;
}

.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 60px;
}

.h-100p {
  height: 100%;
}

.w-1000 {
  width: 1000px;
}

.w-20p {
  width: 20%;
}

.w-30p {
  width: 30%;
}

.w-45p {
  width: 45%;
}

.w-50p {
  width: 50%;
}

.w-80p {
  width: 80%;
}

.w-100p {
  width: 100%;
}

.bg-space {
  background-image: url(../img/banner.png);
  background-position: center;
  background-size: cover;
}

.bg-white {
  background-color: var(--primary-color);;
}

.bg-silver {
  background-color: var(--secondary-color);
}

.bg-gray {
  background-color: var(--dark-color);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.fweight-700 {
  font-weight: 700;
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  justify-content: center;
}

.main-header {
  height: var(--header-height);

  box-sizing: border-box;

  padding: 5px 20px;
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.header-menu-list {
  list-style: none;
}

.header-margin {
  height: var(--header-height);
}

.main-banner-content {
  color: var(--primary-color);
}

.main-banner-content-logo {
  width: 10vw;
  min-width: 150px;
}

.main-banner-content-link {
  color: var(--primary-color);

  border-color: var(--primary-color);;
}

.places-block-img-container {
  order: -1;
}

.form-block-field {
  box-sizing: border-box;

  border: var(--green-color) solid 3px;
  border-radius: 4px;
}

legend {
  color: var(--green-color);
}

.input-field {
  text-indent: 10px;

  border: var(--secondary-color) 1px solid;

  border-radius: 10px;

  box-shadow: none;
}

.btn {
  background-color: transparent;
  padding: 10px;

  text-decoration: none;

  border-radius: 10px;
  border: 1px solid;
}

.btn-green {
  color: var(--green-color);

  border-color: var(--green-color);
  align-self: flex-start;
}

.main-footer {
  color: var(--secondary-color);
}

.footer-logo-frame {
  width: 160px;
}

footer h2 {
  font-size: 1em;
}

.footer-logo-img {
  display: inline-block;
}